@model IEnumerable<Che_Jerry_HW6.Models.OrderDetail>

@{
    ViewData["Title"] = "RemoveFromOrder";
}

<h2>Remove From Order</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtendedPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtendedPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "OrderDetails", new { id = item.OrderDetailID }, null) |
                @Html.ActionLink("Delete", "Delete", "OrderDetails", new { id = item.OrderDetailID }, null)
            </td>
        </tr>
}
    </tbody>
</table>
